<section>
    <style>
        .faq-cat-content {
            margin-top: 25px;
        }

        .faq-cat-tabs li a {
            padding: 15px 10px 15px 10px;
            width: 87px;
            height: 85px;
            /*background:url(./public/images/bg7mini.png) no-repeat;
            border: 1px solid #dddddd;*/
            color: #FFFFFF;
        }

        .nav-tabs li a:focus,
        .panel-heading a:focus {
            outline: none;
        }

        .panel-heading a,
        .panel-heading a:hover,
        .panel-heading a:focus {
            text-decoration: none;
            color: #777777;
        }

        .faq-cat-content .panel-heading:hover {
            background-color: #ff0000;
        }

        .active-faq {
            border-left: 5px solid #888888;
        }

        .panel-faq .panel-heading .panel-title span {
            font-size: 13px;
            font-weight: normal;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Nav tabs category -->
                <h3>Juegos Diarios</h3>
                <ul class="nav nav-tabs faq-cat-tabs">
                    <li class="active"><a href="#faq-cat-1" data-toggle="tab">Futbol Sala</a></li>
                    <li><a href="#faq-cat-2" data-toggle="tab">Futbol</a></li>
                    <li><a href="#faq-cat-3" data-toggle="tab">Voleibol</a></li>
                    <li><a href="#faq-cat-4" data-toggle="tab">Ciclismo</a></li>
                    <li><a href="#faq-cat-5" data-toggle="tab">Ajedres</a></li>
                    <li><a href="#faq-cat-6" data-toggle="tab">Tejo</a></li>
                    <li><a href="#faq-cat-7" data-toggle="tab">Billar</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content faq-cat-content">
                    <div class="tab-pane active in fade" id="faq-cat-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12 games-schedule">
                                            <div class="well">
                                                <div class="games-schedule-title">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h5>Campo: EL TABLAZO</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="games-schedule-items">
                                                    <div class="row games-team">
                                                        <div class="col-md-5">
                                                            <img src="http://placehold.it/115x67" alt="Bangladesh">
                                                            <span>Los pelaos</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <h4 class="img-circle">VS</h4>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <img src="http://placehold.it/115x67" alt="Australia">
                                                            <span>Las Palomas</span>
                                                        </div>
                                                    </div>
                                                    <div class="row games-info">
                                                        <div class="col-md-12">
                                                            <p><span class="glyphicon glyphicon-play-circle"></span> 19 Marzo, 2018 (<small>15:30 local | 09:30 GMT</small>)</p>
                                                            <p class="games-dash"></p>
                                                            <p><small>Campo deportivo el Tablazo (Amistoso)</small></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="games-schedule-items">
                                                    <div class="row games-team">
                                                        <div class="col-md-5">
                                                            <img src="http://placehold.it/115x67" alt="Pakistan">
                                                            <span>Medilaser</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <h4 class="img-circle">VS</h4>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <img src="http://placehold.it/115x67" alt="India">
                                                            <span>Corpomédica</span>
                                                        </div>
                                                    </div>
                                                    <div class="row games-info">
                                                        <div class="col-md-12">
                                                            <p><span class="glyphicon glyphicon-play-circle"></span> 19 Marzo, 2018 (<small>19:30 local | 13:30 GMT</small>)</p>
                                                            <p class="games-dash"></p>
                                                            <p><small>Campo deportivo el Tablazo (Campeonato: AICA)</small></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="games-schedule-footer">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <p class="text-left">Organizado a traves de esta plataforma el 18 de Marzo, 2018</p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p class="text-right">http://cds.net.co</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12 games-schedule">
                                            <div class="well">
                                                <div class="games-schedule-title">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h5>Campo: CAMPNOU</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="games-schedule-items">
                                                    <div class="row games-team">
                                                        <div class="col-md-5">
                                                            <img src="http://placehold.it/115x67" alt="Bangladesh">
                                                            <span>El Calvo</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <h4 class="img-circle">VS</h4>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <img src="http://placehold.it/115x67" alt="Australia">
                                                            <span>Empanadas el raicero</span>
                                                        </div>
                                                    </div>
                                                    <div class="row games-info">
                                                        <div class="col-md-12">
                                                            <p><span class="glyphicon glyphicon-play-circle"></span> 19 March, 2014 (<small>15:30 local | 09:30 GMT</small>)</p>
                                                            <p class="games-dash"></p>
                                                            <p><small>Campo deportivo el Campnou</small></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="games-schedule-items">
                                                    <div class="row games-team">
                                                        <div class="col-md-5">
                                                            <img src="http://placehold.it/115x67" alt="Pakistan">
                                                            <span>Pakistan</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <h4 class="img-circle">VS</h4>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <img src="http://placehold.it/115x67" alt="India">
                                                            <span>India</span>
                                                        </div>
                                                    </div>
                                                    <div class="row games-info">
                                                        <div class="col-md-12">
                                                            <p><span class="glyphicon glyphicon-play-circle"></span> 19 March, 2014 (<small>19:30 local | 13:30 GMT</small>)</p>
                                                            <p class="games-dash"></p>
                                                            <p><small>Campo deportivo el Campnou</small></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="games-schedule-footer">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <p class="text-left">Organizado a traves de esta plataforma el 18 de Marzo, 2018</p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p class="text-right">http://cds.net.co</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12 games-schedule">
                                            <div class="well">
                                                <div class="games-schedule-title">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h5>Campo: LA CIMA DEL FUTBOL</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="games-schedule-items">
                                                    <div class="row games-team">
                                                        <div class="col-md-5">
                                                            <img src="http://placehold.it/115x67" alt="Bangladesh">
                                                            <span>Las chicas malas</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <h4 class="img-circle">VS</h4>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <img src="http://placehold.it/115x67" alt="Australia">
                                                            <span>La Decima</span>
                                                        </div>
                                                    </div>
                                                    <div class="row games-info">
                                                        <div class="col-md-12">
                                                            <p><span class="glyphicon glyphicon-play-circle"></span> 19 March, 2014 (<small>15:30 local | 09:30 GMT</small>)</p>
                                                            <p class="games-dash"></p>
                                                            <p><small>Campo deportivo La cima del Futbol</small></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="games-schedule-items">
                                                    <div class="row games-team">
                                                        <div class="col-md-5">
                                                            <img src="http://placehold.it/115x67" alt="Pakistan">
                                                            <span>Club Peluca</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <h4 class="img-circle">VS</h4>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <img src="http://placehold.it/115x67" alt="India">
                                                            <span>Seleccion Caqueta</span>
                                                        </div>
                                                    </div>
                                                    <div class="row games-info">
                                                        <div class="col-md-12">
                                                            <p><span class="glyphicon glyphicon-play-circle"></span> 19 March, 2014 (<small>19:30 local | 13:30 GMT</small>)</p>
                                                            <p class="games-dash"></p>
                                                            <p><small>La cima del Futbol</small></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="games-schedule-footer">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <p class="text-left">Organizado por: Yovany Suárez Silva</p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p class="text-right">http://cds.net.co</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="faq-cat-2">
                        <div class="panel-group" id="accordion-cat-2">
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                        <h4 class="panel-title">
                                            FAQ Item Category #2
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="faq-cat-2-sub-1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                        <h4 class="panel-title">
                                            FAQ Item Category #2
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="faq-cat-2-sub-2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="faq-cat-3">
                        ...
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.collapse').on('show.bs.collapse', function () {
                var id = $(this).attr('id');
                $('a[href="#' + id + '"]').closest('.panel-heading').addClass('active-faq');
                $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-minus"></i>');
            });
            $('.collapse').on('hide.bs.collapse', function () {
                var id = $(this).attr('id');
                $('a[href="#' + id + '"]').closest('.panel-heading').removeClass('active-faq');
                $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-plus"></i>');
            });
        });
    </script>
</section>