<div ng-app="MainAppNuevaNoticia" ng-controller="mainControllerNuevaNoticia" style="margin-top:-10px;">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <!------   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    Include the above in your HEAD tag ---------->
    <style>
        .wizard {
            margin: 20px auto;
            background: #fff;
        }

            .wizard .nav-tabs {
                position: relative;
                margin: 40px auto;
                margin-bottom: 0;
                border-bottom-color: #e0e0e0;
            }

            .wizard > div.wizard-inner {
                position: relative;
            }

        .connecting-line {
            height: 2px;
            background: #e0e0e0;
            position: absolute;
            width: 80%;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 50%;
            z-index: 1;
        }

        .wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
            color: #555555;
            cursor: default;
            border: 0;
            border-bottom-color: transparent;
        }

        span.round-tab {
            width: 70px;
            height: 70px;
            line-height: 70px;
            display: inline-block;
            border-radius: 100px;
            background: #fff;
            border: 2px solid #e0e0e0;
            z-index: 2;
            position: absolute;
            left: 0;
            text-align: center;
            font-size: 25px;
        }

            span.round-tab i {
                color: #555555;
            }

        .wizard li.active span.round-tab {
            background: #fff;
            border: 2px solid #5bc0de;
        }

            .wizard li.active span.round-tab i {
                color: #5bc0de;
            }

        span.round-tab:hover {
            color: #333;
            border: 2px solid #333;
        }

        .wizard .nav-tabs > li {
            width: 32%;
        }

        .wizard li:after {
            content: " ";
            position: absolute;
            left: 46%;
            opacity: 0;
            margin: 0 auto;
            bottom: 0px;
            border: 5px solid transparent;
            border-bottom-color: #5bc0de;
            transition: 0.1s ease-in-out;
        }

        .wizard li.active:after {
            content: " ";
            position: absolute;
            left: 46%;
            opacity: 1;
            margin: 0 auto;
            bottom: 0px;
            border: 10px solid transparent;
            border-bottom-color: #5bc0de;
        }

        .wizard .nav-tabs > li a {
            width: 70px;
            height: 70px;
            margin: 20px auto;
            border-radius: 100%;
            padding: 0;
        }

            .wizard .nav-tabs > li a:hover {
                background: transparent;
            }

        .wizard .tab-pane {
            position: relative;
            padding-top: 50px;
        }

        .wizard h3 {
            margin-top: 0;
        }

        .step1 .row {
            margin-bottom: 10px;
        }

        .step_21 {
            border: 1px solid #eee;
            border-radius: 5px;
            padding: 10px;
        }

        .step33 {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding-left: 10px;
            margin-bottom: 10px;
        }

        .dropselectsec {
            width: 68%;
            padding: 6px 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
            color: #333;
            margin-left: 10px;
            outline: none;
            font-weight: normal;
        }

        .dropselectsec1 {
            width: 74%;
            padding: 6px 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
            color: #333;
            margin-left: 10px;
            outline: none;
            font-weight: normal;
        }

        .mar_ned {
            margin-bottom: 10px;
        }

        .wdth {
            width: 25%;
        }

        .birthdrop {
            padding: 6px 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
            color: #333;
            margin-left: 10px;
            width: 16%;
            outline: 0;
            font-weight: normal;
        }


        /* according menu */
        #accordion-container {
            font-size: 13px
        }

        .accordion-header {
            font-size: 13px;
            background: #ebebeb;
            margin: 5px 0 0;
            padding: 7px 20px;
            cursor: pointer;
            color: #fff;
            font-weight: 400;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px
        }

        .unselect_img {
            width: 18px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .active-header {
            -moz-border-radius: 5px 5px 0 0;
            -webkit-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
            background: #F53B27;
        }

            .active-header:after {
                content: "\f068";
                font-family: 'FontAwesome';
                float: right;
                margin: 5px;
                font-weight: 400
            }

        .inactive-header {
            background: #333;
        }

            .inactive-header:after {
                content: "\f067";
                font-family: 'FontAwesome';
                float: right;
                margin: 4px 5px;
                font-weight: 400
            }

        .accordion-content {
            display: none;
            padding: 20px;
            background: #fff;
            border: 1px solid #ccc;
            border-top: 0;
            -moz-border-radius: 0 0 5px 5px;
            -webkit-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px
        }

            .accordion-content a {
                text-decoration: none;
                color: #333;
            }

            .accordion-content td {
                border-bottom: 1px solid #dcdcdc;
            }



        @media( max-width : 585px ) {

            .wizard {
                width: 90%;
                height: auto !important;
            }

            span.round-tab {
                font-size: 16px;
                width: 50px;
                height: 50px;
                line-height: 50px;
            }

            .wizard .nav-tabs > li a {
                width: 50px;
                height: 50px;
                line-height: 50px;
            }

            .wizard li.active:after {
                content: " ";
                position: absolute;
                left: 35%;
            }
        }

        .stop-wrap {
    display: inline-block;
}

.select-editable {
    position:relative;
    background-color:white;
    border:solid grey 1px;
    width:120px;
    height:25px;
    vertical-align: middle;
    margin-bottom: 5px;
}
.select-editable select {
    position:absolute;
    top:0px;
    left:0px;
    border:none;
    width:118px;
    margin:0;
}
.select-editable input {
    position:absolute;
    top:0px;
    left:0px;
    width:100px;
    padding:1px;
    border:none;
}
.select-editable select:focus, .select-editable input:focus {
    outline:none;
}

    </style>

<script type="text/javascript">
$(document).ready(function () {
//$('#editable-select').editableSelect();
});
</script>
    <div class="container">
        <div class="row">
            <section>
                <div class="wizard">
                    <div class="wizard-inner">
                        <div class="connecting-line"></div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Paso 1">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </span>
                                </a>
                            </li>
                            <li role="presentation" class="disabled">
                                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Paso 2">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-picture"></i>
                                    </span>
                                </a>
                            </li><!--
                                <li role="presentation" class="disabled">
                                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Paso 3">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </span>
                                    </a>
                                </li>-->
                            <li role="presentation" class="disabled">
                                <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Completo">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <form role="form" id="formUpload" novalidate>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="step1">

                                <!--<input type="file" id="fileSelectedImagenPrincipal" value="Seleccionar archivo" accept="image/*"
                                    ngf-max-height="1000" ngf-max-size="1MB" />
                                <input type="file" custom-on-change="uploadFile" onchange="angular.element(this).scope().uploadImage()">
                                   -->

                                <!--  <input type="file" ng-change="onFileChange($event)">

                                    <input type="file" ngf-select="uploadFiles($file);" value="Seleccionar archivo"
                                           accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" />
                                   <br><br>
                                    Archivo en el disco:
                                    <div style="font:smaller">
                                        {{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                                        <span class="progress" ng-show="f.progress >= 0">
                                            <div style="width:{{f.progress}}%" ng-bind="f.progress + '%' "></div>
                                        </span>
                                    </div>

                                    {{errorMsg}}-->


                                <h2 style="margin-top:-34px !important;">
                                    <center>Información principal de la noticia.</center>
                                </h2>
                                <div class="step2">
                                    <div class="step_21">

                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group" style="margin-top:-10px !important;margin-bottom:-10px !important;">
                                                            <label for="titulo" style="float:left !important;">Titulo:</label>
                                                            <input name="titulo" ng-model="newNoticia.titulo" type="text" class="form-control"
                                                                placeholder="Titulo" required />
                                                        </div>
                                                        <div class="form-group" style="margin-top:-10px !important;margin-bottom:-10px !important;">
                                                            <label for="titulo" style="float:left !important;">Resumen:</label>
                                                            <textarea ng-model="newNoticia.resumen" class="form-control"
                                                                placeholder="Resumen" rows="3" required></textarea>
                                                        </div>
                                                        <div class="form-group" style="margin-top:-10px !important;margin-bottom:-10px !important;">
                                                            <label for="titulo" style="float:left !important;">Descripción:</label>
                                                            <textarea ng-model="newNoticia.descripcion" class="form-control"
                                                                placeholder="Noticia HTML" rows="9" required></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group" style="margin-top:-10px !important;margin-bottom:-10px !important;">
                                                            <label for="categoriaNoticia">Categoria</label>
                                                            <input type="text" list="categoriaNoticia" class="form-control" ng-model="newNoticia.categoriaNoticia" />
                                                            <datalist style="display:none;" name="categoriaNoticia" id="categoriaNoticia" class="form-control">
                                                                <option ng-repeat="model in categoriaNoticia"  value="{{model.categoria}}" >{{model.categoria}}</option>
                                                            </datalist>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group" style="margin-top:-10px !important;margin-bottom:-10px !important;">
                                                            <label for="tags">Meta Tags</label>
                                                            <input ng-model="newNoticia.metatags" type="text" class="form-control"
                                                                id="tags" placeholder="Tags" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="well well-sm">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">cds.net.co/</span>
                                                                <input ng-model="newNoticia.url" type="text" class="form-control"
                                                                    placeholder="Url de enlace" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="well well-sm" style="height: 54px;">
                                                            <input style="float:left; width:49%; margin-right: 6px;"
                                                                ng-model="newNoticia.fechaRegistro" type="date" class="form-control"
                                                                value="" placeholder="Fecha de publicación" required />
                                                            <select style="float:left; width:49%" ng-model="newNoticia.activo"
                                                                class="form-control">
                                                                <option value="0">Borrador</option>
                                                                <option value="1">Publicado</option>
                                                            </select>
                                                        </div>
<!--                                                        <div class="select-editable stop-wrap">
                                                            <select editable-dropdown="input_elem" id="input_elem_sel" name="input_elem_sel">
                                                                <option value=""></option>
                                                                <option value="Option 1">Option 1</option>
                                                                <option value="Option 2">Option 2</option>
                                                                <option value="Option 3">Option 3</option>
                                                                <option value="Option 4">Option 4</option>
                                                                <option value="Other">Other ...</option>
                                                            </select>
                                                            <input id="input_elem" name="input_elem" ng-model="input_elem" force-model-update>
                                                        </div>
                                                        <select id="select" style="width: 200px; float: left;">
                                                            <option value=""></option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                        </select>
                                                        <input onchange="$('#select').val(this.value); $('#contenedor').html($('#select').prop('valor'));" style="width: 185px; margin-left: -199px; margin-top: 1px; border: none; float: left;"/>
                                                        <div id="contenedor"></div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-primary next-step">Continuar</button></li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step2">
                                <h5><strong>Mas información</strong></h5>
                                <div class="step33">
                                    <!--<h5><strong>Mas información</strong></h5>
                                    <hr>-->
                                    <br>
                                    <div class="row mar_ned">
                                        <div class="col-md-4 col-xs-3">
                                            <p align="right">
                                                <stong>Imagen Principal</stong>
                                            </p>
                                        </div>
                                        <div class="col-md-8 col-xs-9">

                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-6 m-auto">
                                                        <h1 class="text-center display-4 my-4">Imagenes y Archivos</h1>
                                                        <!--<form >
                                                        <form id="formUpload" action="/upload" method="POST" enctype="multipart/form-data">  </form>-->
                                                        <div class="custom-file mb-3">
                                                            <input type="file" name="file" id="file" class="custom-file-input"
                                                                onchange="encodeImageFileAsURL();" accept="image/*"
                                                                ngf-max-height="1000" ngf-max-size="1MB">
                                                            <label for="file" class="custom-file-label">Choose File</label>
                                                            <div id="imgTest" style="max-width:250px !important; float: left;"></div>
                                                        </div>
                                                        <input type="submit" value="Subir Imagen" class="btn btn-primary btn-block">

                                                        <hr>
                                                        <img src="image/{{newNoticia.imagenPrincipal}}" alt="" style="max-width:250px;">
                                                        <div ng-if="files">

                                                            <!--<ul>
                                                                <li ng-repeat="custInfo in files" style="max-width:250px;">
                                                                    <img src="image/{{custInfo.filename}}" alt="" style="max-width:250px;">
                                                                    <button type="button" ng-click="eliminarImagen(custInfo._id);"
                                                                        class="btn btn-danger btn-block mt-4">Eliminar</button>

                                                                </li>
                                                            </ul>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mar_ned">
                                        <div class="col-md-4 col-xs-3">
                                            <p align="right">
                                                <stong>Fecha de Publicación</stong>
                                            </p>
                                        </div>
                                        <div class="col-md-8 col-xs-9">
                                            <div class="row">
                                                <div class="col-md-4 col-xs-4 wdth">
                                                    <select name="dia" id="dia" class="form-control" ng-model="newNoticia.fechaPublicacion.dia"
                                                        required>
                                                        <option value="" selected="selected">Día</option>
                                                        <option ng-repeat="dia in dias">{{dia}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-xs-4 wdth">
                                                    <select name="mes" id="mes" class="form-control" ng-model="newNoticia.fechaPublicacion.mes">
                                                        <option value="" selected="selected">Mes</option>
                                                        <option value="1">Enero</option>
                                                        <option value="2">Febrero</option>
                                                        <option value="3">Marzo</option>
                                                        <option value="4">Abril</option>
                                                        <option value="5">Mayo</option>
                                                        <option value="6">Junio</option>
                                                        <option value="7">Julio</option>
                                                        <option value="8">Agosto</option>
                                                        <option value="9">Septiembre</option>
                                                        <option value="10">Octubre</option>
                                                        <option value="11">Noviembre</option>
                                                        <option value="12">Diciembre</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-xs-4 wdth">
                                                    <select name="ano" id="ano" class="form-control" ng-model="newNoticia.fechaPublicacion.ano"
                                                        required>
                                                        <option value="" selected="selected">Año</option>
                                                        <option ng-repeat="year in years">{{year}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-default prev-step">Anterior</button></li>
                                    <li><button ng-show="!selected" type="button" ng-click="registrarNoticia()" class="btn btn-primary btn-info-full next-step">Guardar</button></li>
                                    <li><button ng-show="selected" type="button" ng-click="modificarNoticia()" class="btn btn-primary btn-info-full next-step">Guardar Cambios</button></li>
                                </ul>
                            </div>
<!--                            <div class="tab-pane" role="tabpanel" id="step3">
                                <div class="step1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input id="ratings-hidden" name="rating" type="hidden">
                                                    <div class="text-center">
                                                            <div class="stars starrr" data-rating="0"></div>

                                                                <a class="btn btn-danger btn-sm" href="#" id="close-review-box"
                                                                    style="display:none; margin-right: 10px;">
                                                                    <span class="glyphicon glyphicon-remove"></span>Cancel</a>
                                                                <button class="btn btn-success btn-lg" type="submit">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="error-message">
                                            </div>
                                            <ul class="list-inline pull-right">
                                                <li><button type="button" class="btn btn-default prev-step">Anterior</button></li>
                                                <li><button type="button" ng-click="registrarNoticia()" class="btn btn-primary btn-info-full next-step">Guardar
                                                        y Continuar</button></li>
                                            </ul>
                                        </div>-->
                            <div class="tab-pane" role="tabpanel" id="complete">
                                <div class="step44">
                                    <h5 style="text-align:center; font-size:1.8rem;">
                                        Noticia guardada exitosamente
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </h5>

                                    <ul class="list-inline pull-right">
                                        <li><button type="button" ng-click="cargarEnlace('noticia')" class="btn btn-success prev-step">Ir
                                                al listado de noticias</button></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
